*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
    margin: auto;
    border-radius: 5px;
    background-color: black;
}
header{
    .nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            li{
                margin: 0 50px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
.content{
    h3{
        color: rgb(1, 1, 132);
        position: relative;
        bottom: 800px;
       text-align: center;
       font-size: 30px;
       right: 20px;
    }
     h1{
        color: white;
        position: relative;
        bottom: 800px;
        text-align: center;
        font-size: 80px;
    }
    h2{
        color: rgb(28, 28, 156);
        position: relative;
        text-align: center;
        bottom: 800px;
        font-size: 100px;
    }
    p{
        position: relative;
        text-align: center;
        bottom: 800px;
        color: white;
    } 
}
.button{
    position: relative;
    bottom: 800px;
    margin-left: 600px;
    border-radius: 3px;
    border: 3px solid blue;
    background-color: blue;
    color: white;
    font-size: 40px;
    text-align: center;
} 
.c-stats {
i{
    position: relative;
    bottom: 750px;
    font-size: 70px;
    color: white;
    left: 400px;
}
h3{
    position: relative;
    bottom: 740px;
    left: 400px;
    font-size: 50px;
    color: hwb(0 100% 0%);
}
p{
    position: relative;
    bottom: 730px;
    left: 400px;
    color: white;
    font-size: 30px;
}
}
.c-stat{
    i{
        position: relative;
        bottom: 900px;
        left: 700px;
        color: white;
        font-size: 70px;
    }
    h3{
        position: relative;
        bottom: 890px;
        left: 700px;
        font-size: 50px;
        color: hwb(0 100% 0%);
    }
    p{
        position: relative;
        bottom: 890px;
        left: 700px;
        color: white;
        font-size: 30px;
    }
}
.stat{
    i{
        position: relative;
        bottom: 1060px;
        left: 1000px;
        color: white;
        font-size: 70px;
    }
    h3{
        position: relative;
        bottom: 1050px;
        left: 1000px;
        font-size: 50px;
        color: hwb(0 100% 0%);
    }
    p{
        position: relative;
        bottom: 1050px;
        left: 1000px;
        color: white;
        font-size: 30px;
    }
}
.grid-item{
    position: relative;
    height: 200px;
    max-width: 1540px;
    background-color: rgb(63, 63, 230);
    bottom: 950px;
}
.grid-item{
h2{
    position: relative;
    color: white;
    top: 80px;
    left: 100px;
}
input{
    position: relative;
    left: 700px;
    border: 20px solid white;
    top: 40px;
    border-radius: 8px;
}
.btn{
    position: relative;
    left: 700px;
    top: 40px;
    background-color: black;
    color: white;
    width: 150px;
    height: 60px;
    border-radius: 8px;
}
}
.grids{
    position: relative;
    height: 1200px;
    max-width: 1540px;
    background-color: black;
    bottom: 950px;
    text-align: center;
}
.grids span{
    color: blue;
}
.grids h1{
    color: white;
}
.box1{
    position: relative;
    bottom: 2000px;
    left: 30px;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.box1 h2{
    position: relative;
    color: blue;
    top: 50px;
    left: 50px;
}
.box1 h3{
    position: relative;
    color: white;
    top: 60px;
    left: 50px;
    font-size: 20px;
}
.box1 h4{
    position: relative;
    color: white;
    left: 50px;
    top: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box1 i{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 20px;
    color: blue;
}
.box1 a{ 
    text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
}
.box2{
position: relative;
bottom: 2200px;
left: 600px;
width: 400px;
height: 200px;
background-color: rgba(128, 128, 128, 0.397);
border-radius: 10px;
}
.box2 h2{
    position: relative;
    color: blue;
    top: 50px;
    left: 50px;
}
.box2 h3{
    position: relative;
    color: white;
    top: 60px;
    left: 50px;
    font-size: 20px;
}
.box2 h4{
    position: relative;
    color: white;
    left: 50px;
    top: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box2 i{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 20px;
    color: blue;
}
.box2 a{
    text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
}
.box3{
position: relative;
bottom: 2400px;
left: 1100px;
width: 400px;
height: 200px;
background-color: rgba(128, 128, 128, 0.397);
border-radius: 10px;
}
.box3 h2{
    position: relative;
    color: blue;
    top: 50px;
    left: 50px;
}
.box3 h3{
    position: relative;
    color: white;
    top: 60px;
    left: 50px;
    font-size: 20px;
}
.box3 h4{
    position: relative;
    color: white;
    left: 50px;
    top: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box3 i{
    position: relative;
    top: 80px;
    left: 50px;
    font-size: 20px;
    color: blue;
}
.box3 a{
    text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
}
.grid{
    position: relative;
    text-align: center;
    bottom: 2300px;
    height: 1200px;
    max-width: 1540px;
}
.grid span{
    color: blue;
}
.grid h1{
    color: white;
}
.box4{
    position: relative;
    bottom: 3430px;
    left: 30px;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.box4{
    h2{
    position: relative;
    color: blue;
    top: 50px;
    left: 50px;
    }
    h3{
     position: relative;
    color: white;
    top: 60px;
    left: 50px;
    font-size: 20px;
    }
    i{
     position: relative;
    top: 80px;
    left: 50px;
    font-size: 20px;
    color: blue;
    }
    a{
     text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
    }
}
.box5{
position: relative;
bottom: 3625px;
left: 600px;
width: 400px;
height: 200px;
background-color: rgba(128, 128, 128, 0.397);
border-radius: 10px;
}
.box5{
    h2{
        position: relative;
        color: blue;
        top: 50px;
        left: 50px;
        font-size: 20px;
        }
    h3{
    position: relative;
    color: white;
    top: 60px;
    left: 50px;
    font-size: 20px;
    }
    i{
        position: relative;
    top: 80px;
    left: 50px;
    font-size: 20px;
    color: blue;
    }
    a{text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
}
}
.box6{
    position: relative;
bottom: 3820px;
left: 1100px;
width: 400px;
height: 200px;
background-color: rgba(128, 128, 128, 0.397);
border-radius: 10px;
}
.box6{
    h2{
        position: relative;
        color: blue;
        top: 50px;
        left: 50px;
        font-size: 20px;
}
    h3{
        position: relative;
        color: white;
        top: 60px;
        left: 50px;
        font-size: 20px;
    }
    i{
        position: relative;
        top: 80px;
        left: 50px;
        font-size: 20px;
        color: blue;
    }
    a{
        text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
    }
}
.box7{
    position: relative;
    bottom: 3750px;
    left: 30px;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.box7{
    h2{
        position: relative;
        color: blue;
        top: 50px;
        left: 50px;
        font-size: 20px;
    }
    h3{
        position: relative;
        color: white;
        top: 60px;
        left: 50px;
        font-size: 20px;
    }
    i{
        position: relative;
        top: 80px;
        left: 50px;
        font-size: 20px;
        color: blue;
    }
    a{
        text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
    }
}
.box8{
    position: relative;
    bottom: 3940px;
    left: 600px;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.box8{
    h2{
        position: relative;
        color: blue;
        top: 50px;
        left: 50px;
        font-size: 20px;
}
    h3{
        position: relative;
        color: white;
        top: 60px;
        left: 50px;
        font-size: 20px;
    }
    i{
        position: relative;
        top: 80px;
        left: 50px;
        font-size: 20px;
        color: blue;
    }
    a{
        text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
    }
}
.box9{
    position: relative;
    bottom: 4140px;
    left: 1100px;
    width: 400px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.397);
    border-radius: 10px;
}
.box9{
    h2{
        position: relative;
        color: blue;
        top: 50px;
        left: 50px;
        font-size: 20px;
}
    h3{
        position: relative;
        color: white;
        top: 60px;
        left: 50px;
        font-size: 20px;
    }
    i{
        position: relative;
        top: 80px;
        left: 50px;
        font-size: 20px;
        color: blue;
    }
    a{
        text-decoration: none;
    color: blue;
    position: relative;
    left: 80px;
    top: 79px;
    font-size: 20px;
    }
}
.box10 .btn{
    position: relative;
    background-color: blue;
    text-align: center;
    bottom: 4110px;
    left: 600px;
    font-size: 50px;
    color: white;
    border-radius: 10px;
}
.section1{
    position: relative;
    bottom: 4020px;
    background-color: #1e90ff;
    width: 1520px;
    height: 1200px;
}
.section1{
    h1{
        position: relative;
        color: white;
        text-align: center;
        top: 40px;
        font-size: 50px;
        
    }
    h3{
        position: relative;
        top: 60px;
        color: white;
        text-align: center;
    }
}
.box11{
    position: relative;
    width: 450px;
    height: 700px;
    background-color: #4a708b;
    bottom: 4900px;
    left: 10px;
}
.box11 {
      h2{
        position: relative;
        color: #0000cd;
        text-align: center;
        top: 30px;
}
      h1{
        position: relative;
        color: white;
        top: 40px;
        text-align: center;
        font-size: 50px;
      }
      h3{
        position: relative;
        color: #00bfff;
        top: 50px;
        text-align: center;
      }
      i{
        position: relative;
        font-size: 30px;
        top: 70px;
        left: 50px;
      }
      p{
        position: relative;
        color: white;
        top: 45px;
        left: 90px;
        font-size: 20px;
      }
      button{
        position: relative;
        top: 75px;
        left: 120px;
        border-radius: 5px;
      }
}
.box12{
    position: relative;
    width: 450px;
    height: 800px;
    background-color: white;
    bottom: 5650px;
    left: 500px;
}
.box12{
    h2{
        position: relative;
        color: #0000cd;
        text-align: center;
        top: 30px;
    }
    h1{
        position: relative;
        color: #333333;
        top: 40px;
        text-align: center;
        font-size: 50px;
    }
    h3{
        position: relative;
        color: black;
        top: 50px;
        text-align: center;
    }
    i{
        position: relative;
        font-size: 30px;
        top: 70px;
        left: 50px;
    }
    p{
        position: relative;
        color: black;
        top: 45px;
        left: 90px;
        font-size: 20px;
    }
    button{
        position: relative;
        top: 75px;
        left: 120px;
        border-radius: 5px;
      }
}
.box13{
    position: relative;
    width: 450px;
    height: 900px;
    background-color: black;
    bottom: 6500px;
    left: 1000px;
}
.box13{
    h2{
        position: relative;
        color: #0000cd;
        text-align: center;
        top: 30px;
    }
    h1{
        position: relative;
        color: white;
        top: 40px;
        text-align: center;
        font-size: 50px;
    }
    h3{
        position: relative;
        color: white;
        top: 50px;
        text-align: center;
    }
    i{
        position: relative;
        font-size: 30px;
        top: 70px;
        left: 50px;
    }
    p{
        position: relative;
        color: white;
        top: 45px;
        left: 90px;
        font-size: 20px;
    }
    button{
        position: relative;
        top: 100px;
        left: 120px;
        border-radius: 5px;
    }
}
.box14{
    position: relative;
    background-color: #00007f;
    width: 1520px;
    height: 550px;
    bottom: 6430px;
}
.box14 {
img{
    position: relative;
    left: 300px;
    top: 100px;
    max-width: 400px;
    min-height: 400px;
}
h2{
    color: white;
    position: relative;
    bottom: 250px;
    left: 850px;
}
h3{
    color: white;
    position: relative;
    bottom: 240px;
    left: 850px;
    font-size: 40px;
}
p{
    color: white;
    position: relative;
    bottom: 220px;
    left: 850px;
    font-size: 20px;
}
button{
    position: relative;
    background-color: black;
    color: white;
    bottom: 200px;
    left: 850px;
    border-radius: 5px;
}
}
.box15{
    position: relative;
    background-color: white;
    width: 1520px;
    height: 450px;
    bottom: 6443px;
}
.box{
    position: relative;
    background-color: #f8f8ff;
    width: 700px;
    height: 300px;
    left: 100px;
    top: 50px;
}
.box {
h2{
    position: relative;
    color: #333333;
    top: 40px;
    left: 30px;
}
h1{
    position: relative;
    color: #333333;
    top: 45px;
    left: 30px;
}
h3{
    position: relative;
    color: #4f4f4f;
    top: 60px;
    left: 30px;
    font-size: 20px;
}
button{
    position: relative;
    background-color: blue;
    color: white;
    left: 50px;
    bottom: 300px;
    border-radius: 2px;
}
img{
    position: relative;
    left: 700px;
    bottom: 180px;
    max-width: 400px;
    min-height: 400px;
}
}  
.box16{
    position: relative;
    background-color: black;
    width: 1520px;
    height: 600px;
    bottom: 6470px;
}
.code h1{
    color: white;
    position: relative;
    left: 500px;
    top: 60px;
    font-size: 45px;
}
.code span{
    color: blue;
}
.code{
    img{
        position: relative;
        left: 50px;
        top: 50px;
        max-width: 600px;
        min-height: 400px;
    }
}
.border{
    position: relative;
    width: 600px;
    height: 250px;
    background-color: black;
    border: 1px solid white;
    left: 800px;
    bottom: 300px;
}
.border{
    p{
        position: relative;
        color: white;
        left: 30px;
        top: 60px;
        font-size: 20px;
    }
}
.box17{
    position: relative;
    background-color: #00ced1;
    width: 1520px;
    height: 500px;
    bottom: 6470px;
}
.box17{
    img{
     position: relative;
    left: 90px;
    bottom: 6px;
    max-width: 600px;
    min-height: 400px;
    }
    h1{
        color: white;
        position: relative;
        bottom: 350px;
        left: 850px;
    }
    h3{
        color: white;
        position: relative;
        bottom: 320px;
        left: 800px;
    }
    button{
        background-color: black;
        color: white;
        position: relative;
        bottom: 250px;
        left: 950px;
        width: 200px;
        height: 50px;
        border-radius: 7px;
    }
}
.item{
    background-color: black;
    position: relative;
    width: 1520px;
    height: 800px;
    bottom: 6500px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 20px;
   align-items: flex-end;
}
.item h1{
    color: white;
    position: relative;
    left: 600px;
    bottom: 870px;
    font-size: 20px;
}
.item h3{
    color: white;
    position: relative;
    left: 250px;
    bottom: 815px;
    font-size: 20px;
    font-size: 17px;
}
.item span{
    color: #0000cd;
}
.item span h3{
    color: white;
}
.end{
    position: relative;
    background-color: grey;
    width: 1520px;
    height: 100px;
    bottom: 6500px;
}
.end{
    img{
        max-width: 200px;
        min-height: 50px;
        position: relative;
        left: 80px;
        top: 20px;
    }
    h3{
        color: white;
        position: relative;
        left: 400px;
        bottom: 15px;
    }
    i{
        color: white;
        position: relative;
        left: 1200px;
        bottom: 30px;
        font-size: 20px;
    }
}




